<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>
<p th:text="'Command: ' + ${result.command}" />
<p th:text="'Result: ' + ${result.content}" />
<a href="/index">Return to Index</a>
</body>
</html>